<br />
<br />
<div class="container">
    <br />
    <img src="~/images/faleconosco1.jpg" alt="Fale Conosco" />
    <div class="jumbotron">
        <h2>Queremos ouvir o que você tem a dizer</h2>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span class="glyphicon glyphicon-envelope"></span>
            <email endereco="kaykylopes@hotmail.com" conteudo="Enviar um e-mail"></email>
            <br />
            <span class="glyphicon glyphicon-phone"></span>
            (81) 99521-7208
            <br />
            <span class="glyphicon glyphicon-home" ></span>
            Rua Acrobata, 135 - Jaboatão dos Gurarapes - PE
        </p>
    </div>
</div>


